@import "_inc/mixins";
@import "_inc/variables";



// body
html {
   height: 100%;
}

body {
   min-height: 100%;
   overflow-x: hidden;
}


// Header

#topHeader {
  background: $color_pr2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  .logo {
    position: absolute;
    background: $color_pr2;
    background-image: url('/static/svg/symbols/logo-bg.svg');
    background-repeat: no-repeat;
    background-position: -34px 45%;
    background-size: 282px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 0;
    margin: 0;

    @media #{$tablet} {
      background-position: 70px 60%;
      background-size: 660px;
      height: 72px;
  	}
  }

  &.fixed {
    position: fixed;
  }

  &.menu-open {
      position: fixed;
      height: 100%;

      #desktop_nav-ul{
        display: block;
        top: 0;
        width: 100%;
        background: white;
        padding-top: 68px;

        li { display: block; }
      }

  }


#menu-btn {
  display: block;
  position: absolute;
  top: 4px;
  right: 0;
  margin: 0;
  padding: 5px;
  width: 55px;

  @media #{$tablet} {
		display: none;
	}

  svg {
    height: 40px;
    width: 40px;
  }

  .svg--menu-close {
    display: none;
  }

  &.menu-open {
    .svg-menu-open {
      display: none;
    }

    .svg-menu-close {
      display: block;
    }
  }

}

#desktop_nav-ul {
	position: relative;
	margin: 0;
	padding: 0;
	line-height: 2.5em;
  text-align: center;
  display: none;

  @media #{$tablet} {
    display: block;
  }

	li {
		display: inline-block;

		a {
      letter-spacing: .1em;
      position: relative;
      display: block;
      padding: 16px;
      padding-right: 40px;
      padding-left: 40px;
      margin: 0;
      font-weight: bold;
  		font-size: 14px;
  		position: relative;

      @media #{$tablet} {
        padding-right: 30px;
        padding-left: 30px;
    	}

      @media #{$desktop} {
    		font-size: 15px;
    	}


  		&:hover {
  			color: $color_pr4;
  		}
		}

		&.has-children {
			>a {

				&:before {
					content: "...";
					position: absolute;
					left: 0;
					right: 0;
					bottom: 5px;
					font-size: 30px;
				}
			}
		}

    &.active a {
      color: $color_pr5;
    }

    // Nav level 2
		ul {
			opacity: 0;
			position: absolute;
			left: 0;
			top: -72px;
			margin: 0;
      padding: 0;
			width: 100%;
			line-height: 2.5em;
      transition: opacity .3s ease;
      background: #FFFFFF;
      z-index: -1;
      border-top: 1px solid $color_pr6;

			li {
        margin: 0;
        padding: 4px;

				a {
					font-size: 13px;
					color: black;
          padding: 0;
          padding-left: 15px;
          padding-right: 15px;
				}
			}
		}

		&.activated {

			ul {
				opacity: 1;
        top: 72px;
        transition: opacity .3s .1s ease, top .3s .1s ease;
			}

			>a {
				font-weight: 600;
			}
		}
	}

}



  .searchbox {
    display: none;
  }

  .search-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 68px;

    text-align: center;

    &:hover {
      cursor: pointer;

      background-color: $color_pr4;

      svg path{
        fill: #FFFFFF;
      }
    }

    svg {
      height: 30px;
      width: 30px;
      top: 20px;
      left: 3px;
      position: relative;
    }
  }

}

// DESIGNBLOCKS

$mellomrom: 40px;
$mellomrom-lite: 17px;
$padding: 70px;

.designblock, .restaurant-menu-parent {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  vertical-align: top;

  .tekst, .block-brodtekst, .bildetekst {
    line-height: 1.7em;
    letter-spacing: 1px;
  }

  &.parent {
    border-bottom: $mellomrom solid $color_pr3;
  }

  a { font-weight: bold; }

  .tekst {
    padding: 30px;
    font-size: $basesize;

    @media #{$tablet} {
      padding: $padding;
    }

    &.col-1 {
        padding-right: $padding * 5;
        p{ column-count: 1; }
    }

    &.col-2 p{ column-count: 2; }

  }

  table {
    tr { vertical-align: top; }
    td {
      width: 50%;
      padding: 10px;
    }
  }

  .fargeblokk {
    display: inline-block;
    width: 50%;
    background-color: #000000;
    color: white;
    padding: $padding;
    font-size: 16px;

    a { color: #FFFFFF; }
  }

  .knapp {
    text-transform: uppercase;
    font-size: 14px;
    font-family: $font_century;
    letter-spacing: .2em;

    a {
      font-weight: bold;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        background-color: #000000;
        height: 14px;
        width: 3px;
        top: 2px;
        left: -16px;
      }

    }

  }

  // Forskjellige typer designblokker
  &.enkel {
    padding: 0;
    font-size: 0;
    display: block;

    @media #{$tablet} {
      display: flex;
    }

    .tekst, .bilde {
      display: inline-block;
      font-size: $basesize;
      width: 100%;

      @media #{$tablet} {
        width: 50%;
      }
    }

    .bilde {
      padding: 0;
      overflow: hidden;
    }

    img {
      transition: transform 1s ease;
      transform: scale(1);
      min-height: 100%;
      min-width: 100%;

      @media #{$tablet} {
        position: absolute;
      }
    }

    &:hover img {
      transform: scale(1.1);
    }

  }

  &.bilde-full {
    display: block;
    width: 100%;

    .tekst {
      display: block;
      width: 100%;
    }

    .bilde {
      width: 100%;
      position: relative;

      img { max-width: 100%; position: static; }

      .bildetekst {
        background-color: #FFFFFF;
        position: absolute;
        padding: $padding;
        width: 50%;
        font-size: $basesize;

        &.drop-right {
          bottom: $padding * 2;
          right: -$mellomrom;
        }

        &.drop-left {
          bottom: $padding * 2;
          left: -$mellomrom;
        }

        &.right {
          top: $padding * 2;
          right: -$mellomrom;
        }

        &.left {
          top: $padding * 2;
          left: -$mellomrom;
        }


      }
    }
  }
}


.sticky-block {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  padding-top: 200px;
  padding-bottom: 200px;
  position: absolute;
  top: 0;
  left: 0;
  transform:translate3d(0%, 0, 0);

  .sticky-block--wrapper {
    background-color: #FFFFFF;
    padding-top: $mellomrom;
    padding-bottom: $mellomrom;
  }

  ul {
    list-style: none;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: .2em;
    font-family: $font_century;
    padding: 0;
    padding-right: $mellomrom-lite;

    a, p {
      right: 0;
      position: relative;
      transition: right .3s ease, color .3s ease;
      cursor: pointer;
    }

    li { position: relative; }

    p {
      font-size: $h7;
      font-family: $font_default;
    }
    a { font-size: $h5; }

    hr {
      border: 0;
      margin: 18px 0;
      margin-top: 10px;
      transition: width .3s ease;
      width: 0;
      border-top: 3px solid #ebebeb;
    }

  }



    li.selected {
      a, p {
        color: $color_pr5;
        right: 20px;
      }

      hr { width: 110%; }
    }

}

.sticky-block--right {
  display: inline-block;
  padding-left: 30%;
  padding-top: $padding;
  width: 100%;
}

.pageTop {
  background-color: #FFFFFF;
  text-align: center;
  margin-top: 55px;

  @media #{$tablet} {
    margin-top: 68px;
  }

  img { max-width: 100%; }

  .designblock {
    max-width: 100%;

    @media #{$tablet} {
      max-width: 60%;
    }

  }

  .silhouette {
    display: block;
    margin-bottom: $mellomrom;

    svg {
      height: 50px;
      width: 50px;
    }

  }

  h1 { margin-bottom: .3em; }

  hr {
    border-top: 4px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 3em;
  }

}

.black-block {
  background-color: #000000;
  font-size: 0;
  border-bottom: $padding / 2 solid $color_pr3;
  overflow: hidden;

  ul {
    list-style: none;

    li {
      display: inline-block;
      font-size: 14px;
      line-height: 1;
      border-radius: 500px;
      padding: 13px 29px 14px;
      border-width: 2px;
      letter-spacing: 2px;
      min-width: 160px;
      text-transform: uppercase;
      white-space: normal;
      background: #000;
      color: #fff;
      font-weight: 700;
      margin: 10px;
      border: 2px solid;

      &:hover {
        background: #FFFFFF;
        color: #000000;
      }
    }
  }

  a {
    text-transform: uppercase;
    font-size: 14px;
    font-family: $font_century;
    letter-spacing: .2em;
    font-weight: bold;
    position: relative;

      &:before {
        content: '';
        position: absolute;
        background-color: #FFFFFF;
        height: 14px;
        width: 3px;
        top: 2px;
        left: -16px;
      }

    }


  .fargeblokk {
    text-align: center;
    vertical-align: top;
    position: relative;
  }

  &.num-1 .fargeblokk {
    width: 100%;
  }

  &.num-2 .fargeblokk{
    width: 50%;

    &:nth-of-type(1) {

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 120%;
        width: 1px;
        background-color: #FFFFFF;
      }
    }

    &:nth-of-type(2) {

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 120%;
        width: 1px;
        background-color: #FFFFFF;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 120%;
        width: 1px;
        background-color: #FFFFFF;
      }
    }

  }

  &.num-3 .fargeblokk {
    width: 33.33%;

    &:nth-of-type(1) {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 120%;
        width: 1px;
        background-color: #FFFFFF;
      }
    }

    &:nth-of-type(2) {

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 120%;
        width: 1px;
        background-color: #FFFFFF;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 120%;
        width: 1px;
        background-color: #FFFFFF;
      }
    }

    &:nth-of-type(3) {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 120%;
        width: 1px;
        background-color: #FFFFFF;
      }
    }

  }

  .knapp {
    a:before { background-color: #FFFFFF; }
  }
}

aside.printThis {
  position: absolute;
  top: 100px;
  right: -68px;
  transition: width .3s ease;
  text-align: left;
  font-size: 0;

  &:hover {
    cursor: pointer;
    a { opacity: 1; left: 0; }
  }

  .printThis--wrapper {
    background-color: $color_pr5;
    height: 50px;
    width: 50px;
    padding: 15px;
    display: inline-block;
    position: relative;
    z-index: 2;
  }

  svg {
    fill: #FFFFFF;
    height: 20px;
    width: 20px;
    display: inline-block;
    z-index: 2;
  };

  a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity .1s ease, left .2s ease;
    position: relative;
    display: inline-block;
    z-index: 1;
    background-color: $color_pr5;
    height: 50px;
    padding: 15px;
    padding-left: 0;
    margin: 0;
    vertical-align: top;
    left: -50px;
    opacity: 0;
    line-height: 2em;
  }

}

// FORSIDE
.index {

  .apningstider {
    font-size: 0;
    margin-top: $mellomrom;
    margin-bottom: $mellomrom;
    text-align: center;
    padding: 0;
    display: block;

    @media #{$tablet} {
      display: flex;
    }

    .designblock {
      display: block;
      width: 100%;
      padding: 15px;
      padding-top: 30px;
      padding-bottom: 90px;
      font-size: $basesize;

      @media #{$tablet} {
        width: 50%;
        display: inline-block;
        padding: $padding;
        padding-left: $padding * 2;
        padding-right: $padding * 2;
      }

      &.first {
        background: $color_pr1;
        color: #FFFFFF;

        svg path { fill: #FFFFFF; }

        .knapp {
          a { color: #FFFFFF; }
          a:before { background-color: #FFFFFF; }
        }

      }

      &.second { background: $color_pr6; }

      .knapp {
        position: absolute;
        bottom: $mellomrom;
        left: 0;
        right: 0;
      }
    }

    h2 { text-align: center; text-transform: uppercase; }

    svg {
      margin: $mellomrom-lite;
      margin-bottom: $mellomrom;
    }

    table {
      display: block;

      tbody {
        display: inline-block;
        font-weight: bold;
      }

      tr {
        display:table;
        table-layout: fixed;
        width:100%;
      }
    }
  }


  .menyer {

    .tekst {
      width: 100%;
      padding: $padding;
      text-align: center;

      @media #{$tablet} {
        width: 65%;
        text-align: left;
      }

    }

    .fargeblokk {
      width: 100%;
      text-align: center;
      padding: 15px;

      @media #{$tablet} {
        width: 35%;
      }

      svg {
        fill: #FFFFFF;
        height: 50px;
        width: 50px;
        margin-bottom: 20px
      }

      h3 { margin-bottom: 30px; }

      table {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        font-weight: bold;

        td {text-align: right; }
        td:first-of-type { text-align: left; }
      }
    }
  }
}

.booking {
  font-size: 0;
  display: block;
  overflow: hidden;

  @media #{$tablet} {
    display: flex;
  }

  #booking-map {
    height: 300px;

    @media #{$tablet} {
      height: auto;
    }
  }

  #booking-map, #kontaktskjema  {
    display: block;
    width: 100%;
    font-size: $basesize;

    @media #{$tablet} {
      width: 50%;
      display: inline-block;
    }
  }

  #booking-map img {
    min-width: 100%;
    min-height: 100%;
  }

  #kontaktskjema {
    background-color: $color_pr4;
    padding: 30px;
    color: #FFFFFF;
    text-align: center;

    @media #{$tablet} {
      padding: $padding;
    }

    svg {
      fill: #FFFFFF;
      display: block;
      margin: $mellomrom-lite;
      margin-bottom: $mellomrom;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#kontaktskjema {

  form {
    margin-top: $padding;
  }

  .heading {
    margin-bottom: 5px;
  }

  .fields {
    text-align: left;
  }

  .field {
    margin-bottom: $mellomrom-lite;
  }

  input, textarea {padding-left: 10px;}

  input[type='text'] {
    width: 100%;
    border: none;
    line-height: 2em;
  }

  input[type='checkbox'] {
    height: 2em;
    width: 2em;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 10px;
    background-color: #FFFFFF;
  }

  input[type='checkbox']:checked {
    background-image: url('/static/svg/symbols/icon-checkmark.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  input[type="submit"] {
    appearance: none;
    background-color: #bababa;
    border: none;
    padding: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  .typeReservasjon {
    position: relative;

    label { line-height: 2em; margin-right: 20px;}
  }

  textarea { width: 100%; }

  .submit { text-align: right; }

}

// RESTAURANT

.pageTop {
  padding-bottom: $mellomrom-lite;
}

.restaurant, .selskap {

  .sticky-block {
    a { font-size: $h4; }
  }

}


.restaurant-menu {
  text-align: center;
  margin-bottom: 140px;
  position: relative;

  >svg {
    width: 50px;
    height: 50px;
    position: relative;
    left: -10px;
  }

  h2 {
    margin-bottom: 120px;
    margin-top: $mellomrom-lite;
  }

  .pris {
    display: block;
    font-weight: 600;
    font-family: $font_century;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: $h3;
    margin-top: -120px;
    margin-bottom: 120px;
  }

  table {
    width: 100%;
    text-align: left;
    letter-spacing: .1em;
    padding-right: 10%;

    svg {
      width: 30px;
      height: 30px;
      margin: 7px;
    }

    td { width: 85%; }

  }

  hr { margin-right: 80px; }

  .table--heading {
    text-transform: uppercase;
    font-size: $h4;
    font-family: $font_century;

    &.title { text-align: left; }
    &.price { text-align: right; }
  }

  .table--body {
    font-size: $h5;
    padding-bottom: 7px;
  }

  .table-allergen {
    font-size: $h6;
    display: inline-block;
    text-align: center;

    svg { display: inline-block; }

    .table-allergen--text {
      display: block;
      margin-left: 7px;
      margin-right: 7px;
    }
  }
}

.block-parent {
  position: relative;
  font-size: 0;
  border-bottom: $padding solid $color_pr3;

  &.first {
    margin-top: 0;
  }

  .block-topp {
    position: relative;

    img {
      max-width: 100%;
    }

    .bildetekst {
      background-color: $color_pr4;
      color: #FFFFFF;
      position: absolute;
      padding: $padding / 1.5;
      width: 430px;
      text-align: center;
      font-size: $basesize;
      line-height: 1.2em;
      letter-spacing: 1px;

      &.drop-right {
        bottom: $padding;
        right: $padding;
      }

      &.drop-left {
        bottom: $padding;
        left: $padding;
      }

      &.right {
        top: $padding;
        right: $padding;
      }

      &.left {
        top: $padding;
        left: $padding;
      }

      p {
        font-size: $h5;
      }

      a {
        color: white;
        text-transform: uppercase;
        letter-spacing: .2em;
        font-size: $h6;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          background-color: #FFFFFF;
          height: 14px;
          width: 3px;
          top: 2px;
          left: -16px;
        }
      }
    }
  }

  .fakta-block {
    z-index: 2;
    width: 25%;
    display: inline-block;
    font-size: $basesize;
    padding: 50px;
    padding-left: 30px;
    padding-right: 30px;

    ul {
      list-style: none;
      text-transform: uppercase;
      text-align: right;
      letter-spacing: .1em;
      font-family: $font_century;
      padding: 0;
      padding-right: $mellomrom-lite;

      p {
        font-size: $h7;
        font-family: $font_default;
        margin-bottom: 2em;
      }
      strong { font-size: $h5; }

      hr {
        border: 0;
        margin: 18px 0;
        margin-top: 10px;
        transition: width .3s ease;
        width: 0;
        border-top: 3px solid #ebebeb;
      }

    }
  }

  .block-brodtekst{
    display: inline-block;
    width: 75%;
    vertical-align: top;
    font-size: $basesize;
    padding: 90px;
    padding-right: 130px;
    line-height: 1.6em;

    h2 {
      text-align: right;
      margin-bottom: 2.5em;
    }

  }
}

.lokaler, .selskap, .underside {
  .designblock.block-parent.first {
    margin-top: 68px;
    border-bottom: 0;
  }
}

// PRINT this

@media print {
  #devmode { display: none; }

  @page {
     size: 7in 9.25in;
     margin: 27mm 16mm 27mm 16mm;
  }

  body { padding: 20px; }

  .restaurant {
    #topHeader { display: none; }
    .pageTop { display: none; }
    .designblock * {
      display: none;
    }

    .row { margin-left: 0; }

    .restaurant-menu-parent {
      max-width: 100%;
      column-count: 2;
      column-gap: 120px;
      padding-top: 0;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        border-right: 1px solid #e8e8e8;
      }
    }

    .designblock.parent { border: none; }
    .sticky-block { display: none; }
    .sticky-block--right {
      padding: 0;
    }
    .printThis { display: none; }
    .black-block { display: none; }
    .sticky-block--right { display: block; }
    .restaurant-menu {
      display: block;
      table { padding-right: 0; }
    }
    footer { display: none; }
  }

}



// SELSKAP

.selskap {

  .selskapsmeny-parent .tekst{
    text-align: center;

    h3 { font-size: $h1; }
  }
}




footer {
  padding: 30px;
  text-align: left;
  background-color: $color_pr3;

  @media #{$tablet} {
    padding: $mellomrom * 2;
  }

  span {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;

    svg {
      height: 80px;
      width: 180px;
      display: inline-block;
      margin-right: $mellomrom * 2;
    }

  }

  div {
    display: inline-block;
    font-size: $h6;
  }


}
