@import "_inc/mixins";
@import "_inc/variables";



// body
html {
   height: 100%;
}

body {
   min-height: 100%;
}


// Header

#topHeader {
  background: $color_pr2;
  background-image: url('/static/svg/symbols/logo-bg.svg');
  background-repeat: no-repeat;
  background-position: 70px 60%;
  background-size: 660px;
  position: relative;

  nav {
      width: 100%;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      position: relative;

      ul {
          list-style-type: none; /*to remove bullets*/
          text-align: center;
          margin: 0 auto;
          padding: 0px;
          display:table;
          overflow: hidden;

          li{
            display: inline-block;
            width: auto;
            margin-left: auto;
            margin-right: auto;

            a {
              letter-spacing: .1em;
              position: relative;
              display: block;
              padding: 23px;
              padding-right: 40px;
              padding-left: 40px;
              margin: 0;

              &.selected {
                text-decoration: underline;
              }
            }
          }
      }
  }

  .searchbox {
    display: none;
  }

  .search-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 68px;

    text-align: center;

    &:hover {
      cursor: pointer;

      background-color: $color_pr3;

      svg path{
        fill: #FFFFFF;
      }
    }

    svg {
      height: 30px;
      width: 30px;
      top: 20px;
      position: relative;
    }
  }

}

// DESIGNBLOCKS

$mellomrom: 40px;
$mellomrom-lite: 17px;
$padding: 70px;

.designblock {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  vertical-align: top;

  // padding
  &.margin-top {
    margin-top: $mellomrom;
  }

  &.margin-bottom {
    margin-bottom: $mellomrom;
  }

  &.margin-begge {
    margin-top: $mellomrom;
    margin-bottom: $mellomrom;
  }

  a { font-weight: bold; }

  .tekst {
    padding: $padding;
  }

  .fargeblokk {
    display: inline-block;
    width: 50%;
    background-color: #000000;
    color: white;
    padding: $padding;
    font-size: 16px;

    a { color: #FFFFFF; }
  }

  .knapp {
    text-transform: uppercase;
    font-size: 14px;
    font-family: $font_century;
    letter-spacing: .2em;

    a {
      font-weight: bold;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        background-color: #000000;
        height: 14px;
        width: 3px;
        top: 3px;
        left: -16px;
      }

    }

  }

  // Forskjellige typer designblokker
  &.enkel {
    padding: 0;
    font-size: 0;
    display: flex;

    .tekst, .bilde {
      display: inline-block;
      font-size: $basesize;
      width: 50%;
    }

    .bilde {
      padding: 0;
      overflow: hidden;
    }

    img {
      transition: transform 1s ease;
      transform: scale(1);
      min-height: 100%;
      min-width: 100%;
      position: absolute;
    }

    &:hover img {
      transform: scale(1.1);
    }

  }

  &.bilde-full {
    display: block;
    width: 100%;

    .tekst {
      display: block;
      width: 100%;
    }

    .bilde {
      width: 100%;
      position: relative;

      img { min-width: 100%; position: static; }

      .bildetekst {
        background-color: #FFFFFF;
        position: absolute;
        padding: $padding;
        width: 50%;

        &.drop-right {
          bottom: $padding * 2;
          right: -$mellomrom;
        }

        &.drop-left {
          bottom: $padding * 2;
          left: -$mellomrom;
        }

        &.right {
          top: $padding * 2;
          right: -$mellomrom;
        }

        &.left {
          top: $padding * 2;
          left: -$mellomrom;
        }


      }
    }
  }
}

.sticky-block {
  position: absolute;
  top: 0;
  left: 0;
}

.sticky-block--right {
  width: 80%;
  margin-left: 20%;
}

// FORSIDE
.index {

  .pageTop {
    background-color: #FFFFFF;
    text-align: center;
    margin-top: $mellomrom-lite;

    img { max-width: 100%; }

    .designblock {
      max-width: 45%;
    }

    .silhouette {
      display: block;
      margin-bottom: $mellomrom;

      svg {
        height: 50px;
        width: 50px;
      }

    }

    h1 { margin-bottom: 1em; }

  }

  .apningstider {
    font-size: 0;
    margin-top: $mellomrom;
    margin-bottom: $mellomrom;
    text-align: center;
    padding: 0;
    display: flex;

    .designblock {
      display: inline-block;
      width: 50%;
      padding: $padding;
      padding-left: $padding * 2;
      padding-right: $padding * 2;
      font-size: $basesize;

      &.first {
        background: $color_pr1;
        color: #FFFFFF;

        svg path { fill: #FFFFFF; }

        .knapp {
          a { color: #FFFFFF; }
          a:before { background-color: #FFFFFF; }
        }

      }
      &.second { background: $color_pr6; }

      .knapp {
        position: absolute;
        bottom: $mellomrom;
        left: 0;
        right: 0;
      }
    }

    h2 { text-align: center; text-transform: uppercase; }

    svg {
      margin: $mellomrom-lite;
      margin-bottom: $mellomrom;
    }

    table {
      display: block;

      tbody {
        display: inline-block;
        font-weight: bold;
      }

      tr {
        display:table;
        table-layout: fixed;
        width:100%;
      }
    }
  }


  .menyer {

    .tekst {
      width: 65%;
    }

    .fargeblokk {
      width: 35%;
      text-align: center;

      svg {
        fill: #FFFFFF;
        height: 50px;
        width: 50px;
        margin-bottom: 20px
      }

      h3 { margin-bottom: 30px; }

      table {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        font-weight: bold;

        td {text-align: right; }
        td:first-of-type { text-align: left; }
      }
    }
  }
}

.booking {
  font-size: 0;
  display: flex;
  overflow: hidden;

  #booking-map, #kontaktskjema  {
    display: inline-block;
    width: 50%;
    font-size: $basesize;
  }

  #booking-map img {
    min-width: 100%;
    min-height: 100%;
  }

  #kontaktskjema {
    background-color: $color_pr4;
    padding: $padding;
    color: #FFFFFF;
    text-align: center;

    svg {
      fill: #FFFFFF;
      display: block;
      margin: $mellomrom-lite;
      margin-bottom: $mellomrom;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#kontaktskjema {

  form {
    margin-top: $padding;
  }

  .heading {
    margin-bottom: 5px;
  }

  .fields {
    text-align: left;
  }

  .field {
    margin-bottom: $mellomrom-lite;
  }

  input, textarea {padding-left: 10px;}

  input[type='text'] {
    width: 100%;
    border: none;
    line-height: 2em;
  }

  input[type='checkbox'] {
    height: 2em;
    width: 2em;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 10px;
    background-color: #FFFFFF;
  }

  input[type='checkbox']:checked {
    background-image: url('/static/svg/symbols/icon-checkmark.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  input[type="submit"] {
    appearance: none;
    background-color: #bababa;
    border: none;
    padding: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  .typeReservasjon {
    position: relative;

    label { line-height: 2em; margin-right: 20px;}
  }

  textarea { width: 100%; }

  .submit { text-align: right; }

}

.restaurant-menu {

  table {
    width: 100%;
  }
  
  .table--heading {
    text-transform: uppercase;

    &.title { text-align: left; }
    &.price { text-align: right; }
  }

  svg {
    width: 30px;
    height: 30px;
  }
}
