{% extends "_layout" %}
{% set bodyClass = "lokaler" %}

{% block content %}
	{% cache until midnight %}{% endcache %}

	{% set img = entry.toppbilde.first | default(false) %}
	{% set bilde = craft.imager.transformImage(img, [
		{ width: 320, height: 200 },
		{ width: 840, height: 400 },
		{ width: 1680, height: 530 },
		], { ratio:"16/9" }) %}


		{% for blokk in entry.blokkSpoon.all() %}
			<section class="row designblock {% if blokk.mellomrom == 0 %} nospacing {% endif %} block-parent {{loop.index}}{% if loop.index == 1 %} first {% endif %}">

				{% switch blokk.type.handle %}

						{% case 'menyer' %}
							{% import '_admin/_restaurantmeny' as designBlokkmacro %}
							{{ designBlokkmacro.designblocks(blokk) }}

						{% default %}
							{% import '_admin/_designblocks' as designBlokkmacro %}
							{{ designBlokkmacro.designblocks(blokk) }}

					{% endswitch %}

			</section>
		{% endfor %}

{% endblock %}
