{% extends "_layout" %}
{% set bodyClass = "selskap" %}

{% block content %}

	{# {% cache until midnight %}{% minify %} #}

	{# {% endminify %}{% endcache %} #}

	{% for blokk in entry.blokkSpoon %}
		<section class="row designblock {% if blokk.mellomrom == 0 %} nospacing {% endif %} block-parent {{loop.index}}{% if loop.index == 1 %} first {% endif %}">



			{% switch blokk.type.handle %}
					{% case 'menyer' %}
						{% import '_admin/_restaurantmeny' as designBlokkmacro %}
						{{ designBlokkmacro.designblocks(blokk) }}

					{% default %}
						{% import '_admin/_designblocks' as designBlokkmacro %}
						{{ designBlokkmacro.designblocks(blokk) }}
				{% endswitch %}

		</section>
	{% endfor %}

{% endblock %}
